<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.system.dao.NoticeDao">

	<!-- 공지사항 목록 조회 -->
	<select id = "noticeList" resultType = "kr.happyjob.study.system.model.NoticeModel">
		SELECT
				n.notice_no as noticeNo
			,	n.notice_title as noticeTitle
			,	DATE_FORMAT(n.notice_date, '%Y-%m-%d') as noticeRegdate
			,	u.loginID as loginId
			,   u.name as loginName
		FROM tb_notice n
			LEFT JOIN	tb_userinfo u
			ON			n.loginID = u.loginID
		<where>
			<if test ="(title != null) and (!title.equals(''))">
			    and n.notice_title  Like CONCAT('%', #{title}, '%')
			</if>
			<if test ="(from_date != null) and (!from_date.equals(''))">
			    and n.notice_date  <![CDATA[>=]]> STR_TO_DATE(#{from_date}, '%Y-%m-%d')   
			</if>			
			<if test ="(to_date != null) and (!to_date.equals(''))">
			    and n.notice_date  <![CDATA[<=]]> STR_TO_DATE(#{to_date}, '%Y-%m-%d')   
			</if>		
		</where>
		 ORDER BY n.notice_no DESC
		 LIMIT #{pageIndex}, #{pageSize}
	</select>
	
		
	<!-- 공지사항 목록 총 갯수 조회 -->
	<select id="noticeCnt" resultType="int">
		/*kr.happy.study.system.dao.NoticeDao.noticeCnt*/
		SELECT COUNT(*)
		FROM 	tb_notice
		<where>
			<if test ="(title != null) and (!title.equals(''))">
			    and notice_title  Like CONCAT('%', #{title}, '%')
			</if>
			<if test ="(from_date != null) and (!from_date.equals(''))">
			    and notice_date  <![CDATA[>=]]> STR_TO_DATE(#{from_date}, '%Y-%m-%d')   
			</if>			
			<if test ="(to_date != null) and (!to_date.equals(''))">
			    and notice_date  <![CDATA[<=]]> STR_TO_DATE(#{to_date}, '%Y-%m-%d')   
			</if>		
		</where>
		ORDER BY notice_no DESC
	</select>	
		
	
	
	
	<!-- 공지사항 단건 조회 : 공지제목 클릭시 -->
	<select id = "noticeDetail" resultType = "kr.happyjob.study.system.model.NoticeModel">
		SELECT
					u.loginID as loginId
				,	n.notice_title as noticeTitle
				,	n.notice_det as noticeContent
				,   n.notice_no as noticeNo
				,   u.name as loginName
		FROM	tb_notice n
			LEFT JOIN	tb_userinfo u
			ON			n.loginID = u.loginID
		WHERE n.notice_no = #{noticeNo}
	</select>
	
		
		
	<!-- 공지사항 신규등록(저장) :  -->
	<insert id = "insertNotice" parameterType="java.util.Map">
	    <selectKey resultType="string" keyProperty="noticeNo" order="BEFORE">
            SELECT IFNULL(MAX(notice_no),0) + 1 FROM tb_notice 
        </selectKey> 
		INSERT
		INTO		tb_notice
				(
					notice_no, loginID, notice_title, notice_det, notice_date
				)
		VALUES
				(
						#{noticeNo}
					,	#{loginId}
					,	#{noticeTitle}
					,	#{noticeContent}
					,	NOW()
				)
	</insert>
	
	<!-- 공지사항 수정-->
	<update id = "updateNotice">
		UPDATE tb_notice
		SET		notice_title = #{noticeTitle}
				,	notice_det = #{noticeContent}
				,	notice_date = NOW()
		WHERE	notice_no = #{noticeNo}
	</update>
	
	<!-- 공지사항 삭제-->
	<delete id="deleteNotice">
		DELETE
		FROM 	tb_notice
		WHERE 	notice_no = #{noticeNo}
	</delete>

</mapper>

